
@import url('https://fonts.googleapis.com/css2?family=Gelasio:wght@400;500;700&family=Henny+Penny&family=Hubballi&family=Inspiration&family=Lato:ital,wght@0,300;1,700&family=Monofett&family=Mystery+Quest&family=Playfair+Display+SC:wght@400;700&family=Poppins:wght@200;300;400;500;600;700;800&family=Quattrocento&family=Righteous&family=Sarala:wght@400;700&family=Satisfy&display=swap');

body {
    margin: 0;
    height: 100vh;
    background-image: url(img/background_poster.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Gelasio', serif;
}

.banner {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin: 0px auto;
    background-image: url(img/castelo\ vetor222.png);
    background-size: 900px;
    background-position: 100% 0px;
    background-repeat: no-repeat;
    animation: animate-background linear 12s infinite;

}
@keyframes animate-background {
    from {background-position: 40% 50px;}
    to { background-position: 0px -100px;}
}



.banner .content {
   
    max-width: 680px;
    
    margin-right: 140px;
    font-family: 'Gelasio', serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;      
   
}

.icones-menu {
   
    padding-top: 20px;
}

.icones-menu .icone {
    margin-top: 0px;
    height: 40px;
    text-align: right;
    padding-bottom: 150px;
    padding-left: 15px;
}

.banner .content h2 {
    text-shadow: 1px 1px rgb(244, 210, 255);
    text-align: right;
    line-height: 1.1em;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 3.9em;
    letter-spacing: 0.07em;
    color: rgb(42, 37, 71);
    text-align: right;
    padding-bottom: -50px;
}

.banner .content h2 span {
    font-weight: 800;
    font-size: 1.5em;
}

.banner .content p {    
    font-size: 1.2em;
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: 1.5em;
    color: rgb(19, 17, 20);
    margin: 15px 0 25px;
    text-align: right;
    padding-bottom: 80px;
}

/*responsividade*/

@media (max-width: 991px) {

    .banner {
        position: relative;               
        background-size: 500px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    @keyframes animate-background {
        from {background-position: 120% 70px;}
        to { background-position: -250px 0px;}
    }

    .banner .content {    
        top: initial;
        right: initial;
        max-width: 850px;       
        margin-left: 50px;        
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;          
    }

    .banner .content h2 {
        text-shadow: 1px 1px rgb(244, 210, 255);
        text-align: left;  
        font-size: 1.8em;
        letter-spacing: 0.05em;
     
    }
    .icones-menu {
        margin-top: -150px;        
    }
    
    .icones-menu .icone {
        height: 30px;
        text-align: left;
        padding-bottom: 100px;
        padding-left: 0;
        padding-right: 7px;
    }

    .banner .content p {
        font-size: 1em;
        font-weight: 400;             
        text-align: left;
    }
}